In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('LabTAT.csv')

In [3]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [4]:
data.dtypes

Laboratory 1    float64
Laboratory 2    float64
Laboratory 3    float64
Laboratory 4    float64
dtype: object

In [8]:
Lab1=pd.Series(data.iloc[:,0])
Lab1

0      185.35
1      170.49
2      192.77
3      177.33
4      193.41
        ...
115    178.49
116    176.08
117    202.48
118    182.40
119    182.09
Name: Laboratory 1, Length: 120, dtype: float64

In [9]:
Lab2=pd.Series(data.iloc[:,1])
Lab3=pd.Series(data.iloc[:,2])
Lab4=pd.Series(data.iloc[:,3])

In [10]:
Lab2

0      165.53
1      185.91
2      194.92
3      183.00
4      169.57
        ...
115    170.66
116    183.98
117    174.54
118    197.18
119    215.17
Name: Laboratory 2, Length: 120, dtype: float64

In [11]:
Lab3

0      176.70
1      198.45
2      201.23
3      199.61
4      204.63
        ...
115    193.80
116    215.25
117    203.99
118    194.52
119    221.49
Name: Laboratory 3, Length: 120, dtype: float64

In [12]:
Lab4

0      166.13
1      160.79
2      185.18
3      176.42
4      152.60
        ...
115    172.68
116    177.64
117    170.27
118    150.87
119    162.21
Name: Laboratory 4, Length: 120, dtype: float64

##  Assumption 
### Ho : There is no any significance difference in the average TAT report of the laboratries  
### Ha : There is significance difference in the average TAT report of the laboratries

In [5]:
from scipy.stats import f_oneway

In [14]:
t_score,p_value = f_oneway(Lab1,Lab2,Lab3,Lab4)
p_value

2.1156708949992414e-57

In [15]:
if p_value<=0.05:
    print("We reject the null hypothesis saying that there is a signifcant difference in the average TAT report of the laboratries.")
else:
    print("We do not reject the null hypothesis saying that there is no signifcant differencen in the average TAT report of the laboratries.")

We reject the null hypothesis saying that there is a signifcant difference in the average TAT report of the laboratries.