In [20]:
import pandas as pd
import scipy.stats as stats

In [21]:
Buyer_ratio = pd.read_csv("BuyerRatio.csv")
Buyer_ratio.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [22]:
Buyer_ratio.shape

(2, 5)

In [38]:
Buyer_ratio.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [29]:
del Buyer_ratio['Observed Values']

In [30]:
Buyer_ratio

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

##  Ho :  All proportions are equal
##  Ha : Not all proportions are equal

In [34]:
chi_value, pval, df, expected_value = stats.chi2_contingency(Buyer_ratio)
chi_value, pval, df, expected_value

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [35]:
print('Chi-squared value: {}.\nPval: {}.\nDegree of Freedom: {}.\nExpected Value: \n{}.'.format(chi_value, pval, df, expected_value))

Chi-squared value: 1.595945538661058.
Pval: 0.6603094907091882.
Degree of Freedom: 3.
Expected Value:
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]].

In [41]:
if pval<=0.05:
    print("We reject the null hypothesis saying that not all proportions are equal.")
else:
    print("We do not reject the null hypothesis saying that  all proportions are equal.")

We do not reject the null hypothesis saying that  all proportions are equal.