In [3]:
import pandas as pd
import scipy.stats as stats

In [4]:
Customerorder = pd.read_csv("Costomer+OrderForm.csv")
Customerorder

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
Customerorder.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

In [5]:
Customerorder.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [7]:
Indo_Phill = pd.crosstab(Customerorder.Phillippines,Customerorder.Indonesia)
Indo_Phill

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [8]:
chi_value, pval, df, expected_value = stats.chi2_contingency(Indo_Phill)
chi_value, pval, df, expected_value

(0.1856391005881107,
 0.6665712150680798,
 1,
 array([[  3.19,  25.81],
        [ 29.81, 241.19]]))

In [23]:
print('Chi-squared value: {}.\nPval: {}.\nDegree of Freedom: {}.\nExpected Value: \n{}.'.format(chi_value, pval, df, expected_value))

Chi-squared value: 0.1856391005881107.
Pval: 0.6665712150680798.
Degree of Freedom: 1.
Expected Value:
[[  3.19  25.81]
 [ 29.81 241.19]].

In [24]:
if pval<=0.05:
    print("We reject the null hypothesis saying that there is a signifcant difference.")
else:
    print("We do not reject the null hypothesis saying that there is no signifcant difference.")

We do not reject the null hypothesis saying that there is no signifcant difference.

In [9]:
Ind_Malta = pd.crosstab(Customerorder.India,Customerorder.Malta)
Ind_Malta

Malta       Defective  Error Free
India
Defective           0          20
Error Free         31         249

In [10]:
chi_value, pval, df, expected_value = stats.chi2_contingency(Ind_Malta)
chi_value, pval, df, expected_value

(1.419106436194816,
 0.23355053527979247,
 1,
 array([[  2.06666667,  17.93333333],
        [ 28.93333333, 251.06666667]]))

In [11]:
print('Chi-squared value: {}.\nPval: {}.\nDegree of Freedom: {}.\nExpected Value: \n{}.'.format(chi_value, pval, df, expected_value))

Chi-squared value: 1.419106436194816.
Pval: 0.23355053527979247.
Degree of Freedom: 1.
Expected Value:
[[  2.06666667  17.93333333]
 [ 28.93333333 251.06666667]].

In [12]:
if pval<=0.05:
    print("We reject the null hypothesis saying that there is a signifcant difference.")
else:
    print("We do not reject the null hypothesis saying that there is no signifcant difference.")

We do not reject the null hypothesis saying that there is no signifcant difference.